@mixin flexbox-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin button-hover-light {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.657);
}

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-gradient: linear-gradient(360deg, #9356dc 0%, #ff79da 100%);
$color-background: #f0ecec;

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: white;
}
* a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.header {
  @include flexbox-center;
  height: 70px;
  width: 100%;
  background-color: white;
  &__logo {
    font-family: "Shrikhand", cursive;
    color: black;
    width: 200px;
    margin-top: 30px;
    position: relative;
  }
  .header__back i {
    position: absolute;
    left: 8%;
    font-size: 25px;
    color: black;
  }
}

.menu {
  width: 100%;
  &__card {
    @include flexbox-center;
    flex-direction: column;
    width: 100%;
    height: 360px;
    animation: top 0.5s linear;
  }
  &__card_img {
    width: 100%;
    height: 90%;
    position: relative;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__information {
    position: absolute;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px 50px 0 0;
    transform: translateY(130%);
    background-color: $color-background;
  }

  &__information-block {
    margin-left: 20px;
    font-family: shrikhand;
    font-size: 20px;
  }
  &__heart i {
    position: absolute;
    right: 30px;
    bottom: 40px;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
  &__heart_empty i {
    opacity: 1;
  }
  &__heart_full i {
    opacity: 0;
    &__heart_empty i:hover {
      opacity: 0;
    }
  }
  &__heart_full i:hover {
    opacity: 1;
    background-image: linear-gradient(
      360deg,
      $color-primary 0%,
      $color-secondary 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0;
  }
}

.food {
  background: $color-background;
  &__title {
    font-weight: normal;
    padding-left: 2%;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background: $color-tertiary;
      width: 60px;
      height: 4px;
      left: 2%;
      bottom: -8px;
    }
  }

  &__cards {
    @include flexbox-center;
    flex-direction: column;
    width: 100%;
  }
  &__card {
    width: 95%;
    margin-bottom: 15px;
  }

  &__information {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
    animation: opacity 0.8s ease-in;
    &:hover .food__information-price {
      padding-right: 35px;
      transition: 0.3s ease;
    }
    &:hover .food__check {
      @include flexbox-center;
      padding-right: 35px;
      transition: 0.3s ease;
      transform: scaleX(1);
      i {
        transition-duration: 0.5s;
        transition-property: transform;
        transform: rotate(360deg);
      }
    }
    .food__check {
      transform: scaleX(0);
      transform-origin: right;
      background: $color-tertiary;
      color: #ffffff;
      border-radius: 0 15px 15px 0;
      height: 100%;
      padding: 0 30px;
      i {
        position: absolute;
        color: $color-tertiary;
        font-size: 20px;
        border-radius: 50%;
        padding: 5px;
        background-color: white;
      }
    }
  }

  &__information-block {
    width: 80%;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    & p {
      margin: 5px;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .food__information-name {
      font-weight: bold;
    }
  }
  &__information-price {
    font-weight: bold;
    padding: 20px 15px 0 0;
    width: 5px;
  }

  &__container_button {
    height: 100px;
  }
  &__button {
    background: $color-gradient;
    color: white;
    border-radius: 40px 40px 40px 40px;
    padding: 3px 34px 1px 34px;
    box-shadow: #3535351a 2px 2px 2px 2px;
    margin: auto;
    font-size: large;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 150px;
    & > p {
      text-align: center;
    }
    &:hover {
      @include button-hover-light;
    }
  }
}
.command_button {
  margin-top: -45px;
  padding-top: 35px;
  padding-bottom: 35px;
  width: 100%;
  height: 100px;
  background-color: $color-background;
}
.footer {
  width: 100%;
  height: 200px;
  background-color: #353535;
  color: white;

  &__logo {
    font-family: "Shrikhand";
    font-size: 20px;
    color: white;
    margin: 0 0 20px 40px;
    padding: 20px 0 0 0;
  }

  &__contacts {
    list-style-type: none;
    font-size: 15px;
    line-height: 12px;
  }
  &__contacts i {
    font-size: 12px;
    margin-right: 10px;
  }
}
/****Keyframes****/
@keyframes opacity {
  0% {
    top: 20px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
.food__animation_card_1 {
  animation: opacity 1s;
}
.food__animation_card_2 {
  animation: opacity 2s;
}
.food__animation_card_3 {
  animation: opacity 3s;
}
/****Media Queries Desktop****/
@media screen and (min-width: 900px) {
  body {
    margin-left: auto;
    margin-right: auto;
    max-width: 1700px;
  }
  .menu {
    &__card {
      height: 500px;
      margin: 0 0 -41px 0;
    }
    &__information {
      max-width: 1700px;
      transform: translateY(180%);
    }
    &__heart i {
      right: 50px;
      bottom: 40px;
      font-size: 40px;
    }
  }
  .food {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));

    &__cards {
      column-count: 3;
    }
  }

  .footer {
    height: 150px;
    &__logo {
      display: flex;
      justify-content: center;
      font-size: 25px;
      margin-bottom: 30px;
    }
    &__contacts {
      display: flex;
      justify-content: space-around;
      font-size: 20px;
    }
    &__contacts i {
      font-size: 20px;
    }
  }
}
