@mixin flexbox-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin button-hover-light {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.657);
}
@mixin heart-hover {
  cursor: pointer;
  opacity: 1.8;
  transition: 0.3s;
  color: linear-gradient(180deg, #9356dc 0%, #ff79da 100%);
}
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-gradient: linear-gradient(360deg, #9356dc 0%, #ff79da 100%);

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: white;
}
* a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.page__header {
  @include flexbox-center;
  height: 80px;
  width: 100%;
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.034);

  .header__logo {
    font-family: "Shrikhand", cursive;
    color: black;
    width: 200px;
    margin-top: 30px;
  }
}

.localisation {
  @include flexbox-center;
  background: rgba(128, 128, 128, 0.13);
  padding: 15px;
  &__city {
    margin-left: 15px;
    font-weight: 800;
  }
}

.discover {
  width: 100%;
  background: rgba(155, 149, 149, 0.075);
  &__container {
    padding: 20px;
    height: 250px;
    @include flexbox-center;
    flex-direction: column;
  }

  &__title {
    margin: 0px;
    text-align: center;
    font-weight: bolder;
  }

  &__text {
    text-align: center;
    font-size: large;
    color: grey;
  }

  &__button {
    background: $color-gradient;
    color: white;
    border-radius: 40px 40px 40px 40px;
    padding: 3px 34px 1px 34px;
    box-shadow: #3535351a 2px 2px 2px 2px;
    margin: 0 34px 0 49px;
    font-size: large;
    & > p {
      text-align: center;
    }
    &:hover {
      @include button-hover-light;
    }
  }
}

.instruction {
  width: 100%;

  &__title {
    padding-left: 5%;
  }

  &__phases {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: black 50px 50px 50px 0;
  }

  &__phase {
    display: flex;
    align-items: center;
    background: #f6f6f6;
    height: 65px;
    margin: 7px 30px;
    border-radius: 20px;
    box-shadow: #3535351a 2px 2px 2px 2px;

    &:hover {
      @include button-hover-light;
      background: #f4ecff;
      i {
        color: $color-primary;
      }
    }
  }

  &__number {
    background-color: $color-primary;
    color: white;
    position: absolute;
    padding: 3px 8px 3px 8px;
    border-radius: 400px;
    transform: translateX(-50%);
  }

  &__icon {
    color: #888787;
    margin: 0 30px;
    font-size: 20px;
  }

  &__text {
    padding: 7px 45px 0 0;
    font-weight: bold;
  }
}

.restaurants {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
  padding-top: 30px;
  background: rgba(155, 149, 149, 0.075);

  &__title {
    padding-left: 5%;
  }

  .restaurant {
    &__cards {
      @include flexbox-center;
      flex-direction: column;
      border-radius: 15px;
      width: 100%;
    }
    &__card {
      margin: 15px 0 0 0;
      width: 350px;
      height: 260px;
      border-radius: 15px 15px 0 0;
    }
    &__card-img {
      width: 100%;
      height: 180px;
      position: relative;
      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
      }
    }
    &__card-text {
      background: $color-tertiary;
      position: absolute;
      top: 20px;
      right: 20px;
      padding: 5px 10px;
      color: rgb(23, 104, 56);
    }

    &__information {
      background: white;
      height: 80px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 0 0 15px 15px;
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    }

    &__information-block {
      color: #000505;
      margin-left: 20px;
      & > :first-child {
        font-weight: 800;
      }
    }
    &__heart {
      font-size: 25px;
      margin-right: 20px;
      -webkit-text-fill-color: white;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
    }
    &__heart i {
      border-radius: 25px;
      background-color: white;
      font-size: 25px !important;
      padding: -10px -25px;
      position: relative;
      z-index: 1;
      cursor: pointer;
      &:hover {
        border-radius: 25px;
        &::after {
          border-radius: 25px;
          opacity: 1;
        }
      }
      &::after {
        border-radius: 25px;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(360deg, #9356dc 0%, #ff79da 100%);
        opacity: 0;
        z-index: -1;
        transition: opacity 550ms;
      }
    }
  }
}

.footer {
  width: 100%;
  height: 200px;
  background-color: #353535;
  color: white;

  &__logo {
    font-family: "Shrikhand";
    font-size: 20px;
    color: white;
    margin: 0 0 20px 40px;
    padding: 20px 0 0 0;
  }

  &__contacts {
    list-style-type: none;
    font-size: 15px;
    line-height: 12px;
  }
  &__contacts i {
    font-size: 12px;
    margin-right: 10px;
  }
}

/****Media Queries Desktop****/
@media screen and (min-width: 768px) {
  body {
    margin-left: auto;
    margin-right: auto;
    max-width: 1700px;
  }
  .discover {
    &__button {
      @include flexbox-center;
      flex-direction: row;
    }
  }

  .instruction {
    &__title {
      display: flex;
      justify-content: center;
    }
    &__phases {
      @include flexbox-center;
      flex-direction: row;
      width: 100%;
    }
  }
  .restaurants {
    margin-bottom: 100px;
    &__title {
      display: flex;
      justify-content: center;
    }
    .restaurant {
      &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: row;
      }
      &__card {
        margin-left: 20px;
      }
    }
  }
  .footer {
    height: 150px;
    &__logo {
      display: flex;
      justify-content: center;
      font-size: 25px;
      margin-bottom: 30px;
    }
    &__contacts {
      display: flex;
      justify-content: space-around;
      font-size: 20px;
    }
    &__contacts i {
      font-size: 20px;
    }
  }
}
