body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: white;
}

* a {
  text-decoration: none;
  color: white;
}

.page__header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.034);
}
.page__header .header__logo {
  font-family: "Shrikhand", cursive;
  color: black;
  width: 200px;
  margin-top: 30px;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(128, 128, 128, 0.13);
  padding: 15px;
}
.localisation__city {
  margin-left: 15px;
  font-weight: 800;
}

.discover {
  width: 100%;
  background: rgba(155, 149, 149, 0.075);
}
.discover__container {
  padding: 20px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.discover__title {
  margin: 0px;
  text-align: center;
  font-weight: bolder;
}
.discover__text {
  text-align: center;
  font-size: large;
  color: grey;
}
.discover__button {
  background: linear-gradient(360deg, #9356dc 0%, #ff79da 100%);
  color: white;
  border-radius: 40px 40px 40px 40px;
  padding: 3px 34px 1px 34px;
  box-shadow: #3535351a 2px 2px 2px 2px;
  margin: 0 34px 0 49px;
  font-size: large;
}
.discover__button > p {
  text-align: center;
}
.discover__button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.657);
}

.instruction {
  width: 100%;
}
.instruction__title {
  padding-left: 5%;
}
.instruction__phases {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: black 50px 50px 50px 0;
}
.instruction__phase {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  height: 65px;
  margin: 7px 30px;
  border-radius: 20px;
  box-shadow: #3535351a 2px 2px 2px 2px;
}
.instruction__phase:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.657);
  background: #f4ecff;
}
.instruction__phase:hover i {
  color: #9356dc;
}
.instruction__number {
  background-color: #9356dc;
  color: white;
  position: absolute;
  padding: 3px 8px 3px 8px;
  border-radius: 400px;
  transform: translateX(-50%);
}
.instruction__icon {
  color: #888787;
  margin: 0 30px;
  font-size: 20px;
}
.instruction__text {
  padding: 7px 45px 0 0;
  font-weight: bold;
}

.restaurants {
  width: 100%;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 50px;
  background: rgba(155, 149, 149, 0.075);
}
.restaurants__title {
  padding-left: 5%;
}
.restaurants .restaurant__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  width: 100%;
}
.restaurants .restaurant__card {
  margin: 15px 0 0 0;
  width: 350px;
  height: 260px;
  border-radius: 15px 15px 0 0;
}
.restaurants .restaurant__card-img {
  width: 100%;
  height: 180px;
  position: relative;
}
.restaurants .restaurant__card-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
}
.restaurants .restaurant__card-text {
  background: #99e2d0;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px 10px;
  color: #176838;
}
.restaurants .restaurant__information {
  background: white;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 15px 15px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
}
.restaurants .restaurant__information-block {
  color: #000505;
  margin-left: 20px;
}
.restaurants .restaurant__information-block > :first-child {
  font-weight: 800;
}
.restaurants .restaurant__heart i {
  font-size: 25px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  margin-right: 20px;
  cursor: pointer;
}
.restaurants .restaurant__heart i:hover {
  background-image: linear-gradient(360deg, #9356dc 0%, #ff79da 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0;
}

.footer {
  width: 100%;
  height: 200px;
  background-color: #353535;
  color: white;
}
.footer__logo {
  font-family: "Shrikhand";
  font-size: 20px;
  color: white;
  margin: 0 0 20px 40px;
  padding: 20px 0 0 0;
}
.footer__contacts {
  list-style-type: none;
  font-size: 15px;
  line-height: 12px;
}
.footer__contacts i {
  font-size: 12px;
  margin-right: 10px;
}

/****Media Queries Desktop****/
@media screen and (min-width: 768px) {
  body {
    margin-left: auto;
    margin-right: auto;
    max-width: 1700px;
  }

  .discover__button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .instruction {
    margin-bottom: 50px;
  }
  .instruction__title {
    display: flex;
    justify-content: center;
    margin-right: 75px;
  }
  .instruction__phases {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }

  .restaurants {
    margin: auto;
  }
  .restaurants__title {
    display: flex;
    justify-content: center;
    margin-right: 75px;
  }
  .restaurants .restaurant__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
  }
  .restaurants .restaurant__card {
    margin-left: 20px;
  }

  .footer {
    height: 150px;
  }
  .footer__logo {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 30px;
  }
  .footer__contacts {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
  }
  .footer__contacts i {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
