@mixin flexbox-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin button-hover-light {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.657);
}

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-gradient: linear-gradient(360deg, #9356dc 0%, #ff79da 100%);
$color-background: #f0ecec;

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: white;
}
* a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.page__header {
  @include flexbox-center;
  height: 80px;
  width: 100%;
  background-color: white;
  .header__logo {
    font-family: "Shrikhand", cursive;
    color: black;
    width: 200px;
    margin-top: 30px;
  }
}
.menu {
  width: 100%;

  &__card {
    @include flexbox-center;
    flex-direction: column;
    width: 100%;
    height: 360px;
  }
  &__card_img {
    width: 100%;
    height: 90%;
    position: relative;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__information {
    position: absolute;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px 50px 0 0;
    transform: translateY(130%);
    background-color: $color-background;
  }

  &__information-block {
    margin-left: 20px;
    font-family: shrikhand;
    font-size: 20px;
  }
  &__heart i {
    font-size: 25px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-right: 30px;
    cursor: pointer;

    &:hover {
      background-image: linear-gradient(360deg, #9356dc 0%, #ff79da 100%);
      background-size: 100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.food {
  padding-left: 10px;
  padding-right: 10px;
  background: $color-background;
  &__title {
    font-weight: normal;
    padding-left: 2%;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background: $color-tertiary;
      width: 60px;
      height: 4px;
      left: 2%;
      bottom: -8px;
    }
  }

  &__cards {
    @include flexbox-center;
    flex-direction: column;
    width: 100%;
  }
  &__card {
    width: 95%;
    margin-bottom: 15px;
  }

  &__information {
    background: white;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  }

  &__information-block {
    margin-left: 10px;
    & > :first-child {
      font-weight: 800;
      font-size: large;
      margin-bottom: 5px;
    }
  }
  &__price {
    font-weight: 800;
    font-size: 15px;
  }
  &__button {
    background: $color-gradient;
    color: white;
    border-radius: 40px 40px 40px 40px;
    padding: 3px 34px 1px 34px;
    box-shadow: #3535351a 2px 2px 2px 2px;
    margin: auto;
    font-size: large;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 150px;
    & > p {
      text-align: center;
    }
    &:hover {
      @include button-hover-light;
    }
  }
}

.footer {
  width: 100%;
  height: 200px;
  background-color: #353535;
  color: white;

  &__logo {
    font-family: "Shrikhand";
    font-size: 20px;
    color: white;
    margin: 0 0 20px 40px;
    padding: 20px 0 0 0;
  }

  &__contacts {
    list-style-type: none;
    font-size: 15px;
    line-height: 12px;
  }
  &__contacts i {
    font-size: 12px;
    margin-right: 10px;
  }
}

/****Media Queries Desktop****/
@media screen and (min-width: 768px) {
  body {
    margin-left: auto;
    margin-right: auto;
    max-width: 1700px;
  }
  .menu {
    &__card {
      height: 500px;
      margin: 0 0 -41px 0;
    }
    &__information {
      width: 100%;
      transform: translateY(180%);
      max-width: 1700px;
    }
    &__information-block {
      font-size: 25px;
      margin-left: 80px;
    }
    &__heart i {
      font-size: 40px;
      margin-right: 100px;
    }
  }
  .food {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    border-spacing: 50px;

    &__title {
      font-weight: normal;
    }
    &__container_button {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__button {
      background-color: #353535;
    }
  }
  .footer {
    height: 150px;
    &__logo {
      display: flex;
      justify-content: center;
      font-size: 25px;
      margin-bottom: 30px;
    }
    &__contacts {
      display: flex;
      justify-content: space-around;
      font-size: 20px;
    }
    &__contacts i {
      font-size: 20px;
    }
  }
}
